{{define "title"}} home {{end}}

{{define "main"}}
<form method="post" action="#" id="url_form">
	<div class="form-group">
		<label for="url_input">enter long url</label>
		<input type="text" class="form-control" id="url_input" name="long_url" placeholder="enter long url">
		<small id="urlHelp" class="form-text">enter the url you want to shorten.</small>
	</div>

	<div class="form-group">
		<label for="short_url">shortened url</label>
		<div class="input-group-append">
			<input type="text" disabled class="form-control" id="short_url" placeholder="your shortened url">
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-copy" id="copyIcon" style="cursor: pointer;"></i>
				</span>
			</div>
		</div>
	</div>

	<button type="button" id="get_short_url" class="btn btn-primary">Shorten URL</button>
</form>
{{end}}
